{% extends "base_generic.html" %}

{% block content %}
    {% if messages %}
    {% for message in messages %}

    {% if message.tags == 'error' %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% else %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
        </div>
    {% endif %}

    {% endfor %}
    {% endif %}


    <h1>Prestar: {{ book_inst.book }}</h1>
    
    <p>ID: {{ book_inst.pk }}</p>
    <p>ISBN: {{ book_inst.book.isbn }}</p>
    <p>Imprenta: {{ book_inst.imprint }}</p>
    <p>Estatus actual: {{ book_inst.status }}</p>
    <p>Fecha actual: {{ fecha }}</p>

    <form action="" method="post" style="max-width: 400px;">
        {% csrf_token %}
        {{form.as_p}}
        
        <!-- {% if form.prestatario.errors %}
            {% for error in form.prestatario.errors %}
                <div>
                    {{ error }}
                </div>
            {% endfor%}
        {% endif %} -->
        
        <input type="submit" class="btn btn-primary btn-lg" value="Prestar" style="margin-bottom: 40px;"/>
    </form>
   
    
    

{% endblock %}
